!notebooks/
!notebooks/**
!api/
!api/**
!streamlit/
!streamlit/**
!db/
!db/**
!.gitignore

# Python
__pycache__/
*.py[cod]
*.so
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/train.csv

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Deployment
*.tar.gz
upload_to_dagshub.py
