# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files (too large)
data/train.csv

# Database (too large, optional)
# db/*.db

# OS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
